<!DOCTYPE html>

<html>
<head>
	<title>Rocket Internet by TEMPLATE STOCK</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">

	<!-- Goggle Font -->
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>

	<!-- Font Css -->
	<link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="~/assets/css/style.css">

	<!-- Animation Css -->
	<link rel="stylesheet" href="~/assets/css/animate.css">

</head>
<body>
	<header>
		<div id="homeFullScreen">
			<div class="header-text">
				<ul class="nav">

					@if (User.Identity.IsAuthenticated)
					{
						<li class="scroll-to-section"><a asp-action="logout" asp-controller="account">Log out</a></li>
						<li class="scroll-to-section">
							<a>
								@User.Identity.Name
							</a>
						</li>
					}

					else
					{
						<li class="scroll-to-section"><a asp-action="register" asp-controller="account">Register</a></li>
						<li class="scroll-to-section"><a asp-action="login" asp-controller="account">Login</a></li>

					}

				</ul>
				<h1>Rocket internet</h1>
				<div class="vertical-line"></div>
				<p>
					LOREM IPSUM DOLOR SIT AMET NULLAM CONSEQUAT
					<br />
					INTERDUM VIVAMUS DONCE SED LIBERO.
				</p>
			</div><!-- End HeaderText -->
		</div><!-- End homeFullScreen -->
	</header><!-- End Header -->
            @RenderBody()
	<!-- Call to Action -->
	<section class="call-top-action text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>many variations of passages</h1>
					<p>
						There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
						<br />
						in some form, by injected humour, or randomised words which don't look even slightly believable
					</p>
					<span>LOREM IPSUM</span>
				</div><!-- End col-md-12 -->
			</div><!-- End row -->
		</div><!-- End container -->
	</section>

	<!-- Footer -->
	<footer>
		<ul class="in-line">
			<li><a href="#"><span><i class="fa fa-facebook"></i></span></a></li>
			<li><a href="#"><span><i class="fa fa-twitter"></i></span></a></li>
			<li><a href="#"><span><i class="fa fa-youtube"></i></span></a></li>
		</ul>
		<span class="copyright">&#169; Untitled . All rights reserved. Design By <a href="http://templatestock.co">Templatestock.co</a></span>
	</footer>




	<!-- Main JS -->
	<script type="text/javascript" src="~/assets/js/jquery-main.js"></script>

	<!-- Bootstrap JS -->
	<script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>

	<!-- Animation JS -->
	<script type="text/javascript" src="~/assets/js/wow.min.js"></script>

	<!-- Custom JS -->
	<script type="text/javascript" src="~/assets/js/custom.js"></script>


</body>
</html>
